[submodule "client-getway"]
	path = client-getway
	url = https://github.com/Nest-Microservices-mateo/client-getway.git
[submodule "orders-microservice"]
	path = orders-microservice
	url = https://github.com/Nest-Microservices-mateo/orders-microservice.git
[submodule "products-microservice"]
	path = products-microservice
	url = https://github.com/Nest-Microservices-mateo/products-microservice.git
